.list {
  list-style-type: none;
  padding: 0;
}

.list li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

.list li:hover {
  background: #ddd;
}

.list li img {
  width: 50px;
  height: auto;
}

.list li h2 {
  margin: 0 0 0 2rem;
  flex-grow: 1;
}
